params {
  outdir = "./results" //can be overwritten at run-time e.g. --outdir dirname
  infodir = "./flowinfo" //can be overwritten at run-time e.g. --infodir dirname
  take = 1 //can be overwritten at run-time e.g. --take 2 to just process first two accessions or --take all to process all
  data = './data' //input data directory

  //For read trimming
  adapters = "https://raw.githubusercontent.com/timflutre/trimmomatic/master/adapters/TruSeq3-PE.fa"
}

process {
  cache = 'lenient'
}

profiles {
  //EXECUTORS
  slurm {
    process {
      executor = 'slurm'
    }
  }
  //SOFTWARE
  conda {
    process {
      conda = "$baseDir/conf/conda.yaml"
    }
  }
  docker {
    process.container = 'rsuchecki/nextflow-embl-abr-webinar'
    docker {
      enabled = true
      fixOwnership = true
    }
  }
  singularity {
    process {
      //container = 'shub://csiro-crop-informatics/nextflow-embl-abr-webinar' //Singularity hub - ok for personal use, but we don't want to hammer them during training
      container = '/shared/.singularity/nextflow-embl-abr-webinar.simg' //local
      //scratch = true //This is a hack needed for singularity versions approx after 2.5 and before 3.1.1 as a workaround for https://github.com/sylabs/singularity/issues/1469#issuecomment-469129088
    }
    singularity {
      enabled = true
      autoMounts = true
      cacheDir = "singularity-images"  //when distibuting the pipeline probably should point under $workDir
    }
  }
  remoteContainer {
    process.container = 'rsuchecki/nextflow-embl-abr-webinar' //pulled from Docker hub - Singularity container is built from docker image so not ideal for reproducibility
  }
}

//SETUP DATA (OPTIONAL)
includeConfig 'conf/data.config'

//GENERATE REPORT https://www.nextflow.io/docs/latest/tracing.html//trace-report
report {
    enabled = true
    file = "${params.infodir}/report.html"
}

//GENERATE TIMELINE https://www.nextflow.io/docs/latest/tracing.html//timeline-report
timeline {
    enabled = true
    timeline.file = "${params.infodir}/timeline.html"
}

//GENERATE PIPELINE TRACE https://www.nextflow.io/docs/latest/tracing.html//trace-report
trace {
    enabled = true
    file = "${params.infodir}/trace.txt"
}

//GENERATE GRAPH REPRESENTATION OF THE PIPELINE FLOW
dag {
    enabled = true
    file = "${params.infodir}/flowchart.dot"
    // file = "${params.infodir}/flowchart.png" //requires graphviz for rendering
}