params {
  accessions = ['ACBarrie']
  adapters = "https://raw.githubusercontent.com/timflutre/trimmomatic/master/adapters/TruSeq3-PE.fa"
  ref {
    base_url = "https://urgi.versailles.inra.fr/download/iwgsc/IWGSC_RefSeq_Assemblies/v1.0/iwgsc_refseqv1.0_"
    chr      = "chr4A"
    start    = "688055092"
    end      = "688113092"
  }
  bam {
    base_url = "http://crobiad.agwine.adelaide.edu.au/dawn/jbrowse-prod/data/local/by_chr/mapped_reads_merged/161010_Chinese_Spring_v1.0_pseudomolecules_parts.fasta.gz/minimap2_defaults/whole_genome/PE/BPA"
    chr      = "chr4A_part2"
    start    = "235500000"
    end      = "235558000"
  }

}

profiles {
  //SOFTWARE
  conda {
    process {
      conda = 'conf/conda.yaml'
    }
  }
  condamodule {
    process.module = 'miniconda3/4.3.24'
  }
  docker {
    includeConfig 'conf/containers.config'
    docker {
      enabled = true
      fixOwnership = true
    }
  }
  singularity {
    includeConfig 'conf/containers.config'
    singularity {
      enabled = true
      autoMounts = true
      cacheDir = "${HOME}/singularity-images"  //when distibuting the pipeline probably should point under $workDir
    }
  }
  singularitymodule {
    process.module = 'singularity/3.0.3' //Specific to our cluster - update as required
  }
  //EXEC
  awsbatch {
    aws.region = 'ap-southeast-2'
    process {
      executor = 'awsbatch'
      queue = 'flowq'
      container = 'rsuchecki/tools:0.2' //only need standardi-ish linux toool set: wget, gawk... //replaced by individual containers where applicable
    }
    executor {
      awscli = '/home/ec2-user/miniconda/bin/aws'
    }
  }
  slurm {
    process {
      executor = 'slurm'
      scratch = true
      withLabel: 'rscript|rrender' {
        executor =  'local'
      }
    }
  }


}