params {
  //DATA DOWNLOAD
  reference = "https://github.com/UofABioinformaticsHub/embl-abr-snakemake-nextflow-workshop/releases/download/chr4A_688055092-688113092/reference.fasta.gz"
  chr      = "chr4A"
  start    = "688055092"
  end      = "688113092"
  reads_base_url = "https://github.com/UofABioinformaticsHub/embl-abr-snakemake-nextflow-workshop/releases/download"
  r1_suffix = 'R1.fastq.gz'
  r2_suffix = 'R2.fastq.gz'
  accessions = [
    "ACBarrie",
    "Alsen",
    "Baxter",
    "Chara",
    "Drysdale",
    "Excalibur",
    "Gladius",
    "H45",
    "Kukri",
    "Pastor",
    "RAC875",
    "Volcanii",
    "Westonia",
    "Wyalkatchem",
    "Xiaoyan",
    "Yitpi"
  ]
  download = 'all' //can be overwritten at run-time e.g. --download 2 to just download first two accessions
}